.img-1 {
  background-image: url('../images/13.jpg');
  background-position: center;
  background-size: cover;
  height: 518px;
}

.show-item {
  img {
    width: 40px;
    height: 40px;

    @media (min-width:767px) {
      width: 80px;
      height: 80px;
    }
  }
}

.sparkler {
  height: 20px;
  width: 20px;

  @media (min-width:767px) {
    width: 24px;
    height: 24px;
  }
}

.activity-img {
  object-fit: cover;
  height: 416px;

}

.flex-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sell {
    a:hover::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50%;
      width: 30px;
      height: 30px;
      transform: translate(-30%, -50%) rotate(0deg);
      border-radius: 50%;
      background-color: #FBFF22;
    }
    span{
      width: 16px;
      height: 16px;
    }
  }
}

.online {
  &-img {
    height: 158px;

    @media (min-width:767px) {
      height: 317px;
    }

    flex-grow: 1;
    object-fit: cover;
    object-position: center 33%;
  }

  &-list {
    h4::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
      background: black;
    }

    a:hover {
      color: #ffffff;
      background: black;

      h4::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 106%;
        width: 4px;
        transform: translate(-100%, -3%);
        background: #FBFF22;
      }

    }
  }
}

.albums {

  img {
    object-fit: cover;
    height: 210px;

    @media (min-width:767px) {
      height: 274px;
    }
  }

  h2 {
    transform: translate(-50%, -50%) rotate(-10deg);
  }

  li {
    &:nth-child(2n) {
      transform: rotate(2deg);
    }

    &:nth-child(3) {
      transform: rotate(-2deg);
    }
  }
}

.swiper {
  background-color: #000;

  &-wrapper {
    transition-timing-function: linear;
  }

  &-slide {
    width: auto;

    h3 {
      letter-spacing: 3.2px;
    }
  }
}